<!--<div class="center jumbotron">-->
<!--  <h1>Sample App</h1>-->

<!--  <h2>-->
<!--    This is the home page for the-->
<!--    <a href="http://www.railstutorial.org/"> Ruby on Rails Tutorial</a>-->
<!--    sample application.-->
<!--  </h2>-->

  <%#= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
<!--</div>-->

<%#= link_to image_tag("rails.png", alt: "Rails logo"),
            'http://rubyonrails.org/' %>
<%#= image_tag("kitten.jpg", alt: "Kitten") %>

<div class="center jumbotron">
  <h1>Wszystkiego najlepszego Filip!</h1>
  <h2>Życzę Ci, żeby w dziale Quality Assurance nie miał sobie równych, Kali Linux był w małym paluszku, hajsiwa takiego, że na Śląsku w kopalniach będą Ci zazdrościć.
  Co więcej wspólnego piwa, spotkania gdziekolwiek kiedykolwiek. Kariery pentestera, której pozazdrości Edward Snowden, jakiejś dupeczki(hehe) no i żebyś był zadowolony ze swoich studiów magisterskich.
  Bym zapomniał. Masz zdać to jebane C2 debilu.
  </h2>
  <h1>Sto lat!</h1>
  <%= link_to image_tag("linux.png", alt: 'Ciastko') , '#' %>
</div>
